version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - SENTRY_AUTH_TOKEN=${SENTRY_AUTH_TOKEN}
    container_name: realword_ar_api
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - SENTRY_AUTH_TOKEN=${SENTRY_AUTH_TOKEN}